#contact
  = form_for @message, url: messages_path do |f|
    .col-md-12
      .form-group
        = f.label :name
        = f.text_field  :name, required: true, class: "form-text"
      .form-group
        = f.label :email
        = f.text_field :email, required: true, class: "form-text"
      .form-group
        = f.label :body
        = f.text_area :body, rows: 8, cols: 40, required: true, class: "form-text", |
          placeholder: "Send me a message"
      -# .form-group.hidden                                                       |
      -#
      -#   = f.label :nickname
      -#   = f.text_field :nickname, :hint => 'Leave this field blank!'

      = f.submit 'Send Message', class: 'btn btn-primary'
  #flash-message.col-md-6
    -# = render 'flash'
