#experience
  .container
    .row
      .col-lg-12
        %h3.title-lg.mb-5.wow.bounceInLeft
          Expérience
    - @experiences.where(experience_type: 0).each do |work|
      .row.resume-card.wow.bounceInLeft
        .col-lg-3.location-date.light
          %h5.location-title= work.location
          %h6
            - if work.start_date.year != work.end_date.year
              = work.start_date.year
              = ' - '
            = work.end_date.year
        .col-lg-9.bg-white.description
          %h4.experience-title.mb-5= work.title
          %p= work.description
          .mb-5
          - work.skills.order(:priority).each do |s|
            .tag.wow.fadeInLeft= s.name

#education
  .container
    .row
      .col-lg-12
        %h3.title-lg.mb-5.wow.bounceInLeft
          Formation
    - @experiences.where(experience_type: 1).each do |education|
      .row.resume-card.wow.bounceInLeft
        .col-lg-3.location-date.light
          %h5.location-title= education.location
          %h6
            - if education.start_date.year != education.end_date.year
              = education.start_date.year
              = ' - '
            = education.end_date.year
        .col-lg-9.bg-white.description
          %h4.experience-title.mb-5= education.title
          %p= education.description
          .mb-5
          - education.skills.order(:priority).each do |s|
            .tag.wow.fadeInLeft= s.name
