%header
  %nav.navbar.navbar-expand-lg.navbar-dark#scrollspy
    .container
      %a.navbar-brand.hvr-sweep-to-right.brand-resume{:href => "#home"}
        AD
      %button.navbar-toggler{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
          -# = image_tag 'menu.png', class: 'icon-white'
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto.scrollspy-example

          %li.nav-item
            %a.nav-link{:href => "#experience", 'data-toggle' => "collapse", "data-target" => "#navbar"} Expérience
          %li.nav-item
            %a.nav-link{:href => "#education", 'data-toggle' => "collapse", "data-target" => "#navbar"} Formation
          %li.nav-item
            %a.nav-link{:href => "#skills", 'data-toggle' => "collapse", "data-target" => "#navbar"} Compétences
          %li.nav-item
            %a.nav-link{:href => "#portfolio", 'data-toggle' => "collapse", "data-target" => "#navbar"} Portfolio
          %li.nav-item
            %a.nav-link{:href => "#contact", 'data-toggle' => "collapse", "data-target" => "#navbar"} Contact
%section
  = render 'home'

-# %section
-#   = render 'about'
%section
  = render 'experience'
%section
  = render 'skills'
%section
  = render 'portfolio'
= render 'layouts/contact'
