%header
  %nav.navbar.navbar-expand-lg.navbar-dark#scrollspy
    .container
      %a.navbar-brand.hvr-sweep-to-right.brand-resume{:href => "#home"}
        AD
      %button.navbar-toggler{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
          -# = image_tag 'menu.png', class: 'icon-white'
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto.scrollspy-example

          %li.nav-item
            %a.nav-link{:href => "#experience"} Expérience
          %li.nav-item
            %a.nav-link{:href => "#education"} Formation
          %li.nav-item
            %a.nav-link{:href => "#skills"} Compétences
          %li.nav-item
            %a.nav-link{:href => "#portfolio"} Portfolio
          %li.nav-item
            %a.nav-link{:href => "#contact"} Contact
%section
  #home
    .layer
      .svg-container
        = render 'svg_mouse.html.haml'
    .container
      .row
        .col-lg-8.col-offset-4
          .presentation
            .home-content
              %h1.name
                Amélie Delory
              %h2.ml
                DÉVELOPPEUSE
                %span.caroussel
                  %span WEB
                  %span FULL STACK
                  %span RUBY ON RAILS


            .row
              .col-lg-12
                %a.btn.btn-theme.wow.fadeInLeft{href: '#contact', 'data-wow-offset': 0} CONTACT
                = link_to "TÉLÉCHARGER CV", download_pdf_path, target: '_blank', class: 'btn btn-theme wow fadeInRight'


-# %section
-#   = render 'about'
%section
  = render 'experience'
%section
  = render 'skills'
%section
  = render 'portfolio'
= render 'layouts/contact'
