#quality
  .container
    .row
      .col-lg-12.text-center
        %h5.title-sm.wow.fadeInLeft plus
        %h3.title-lg.mb-5.wow.fadeInLeft Ma charte qualité
    .row
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .quality-card.theme-dark-bg.text-white.wow.flipInX
          = image_tag "services/detail.png", class: 'quality-icon icon-white'
          %h5.title
            Sens du détail
          %p.text.light
            Chaque détail compte : le choix des couleurs, le style des ic&#xF4;nes et des boutons, la typographie ainsi que les illustrations.
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .quality-card.lighter-grey-bg.wow.flipInY
          = image_tag "services/uniq.png", class: 'quality-icon icon-theme'
          %h5.title
            Design unique
          %p.text
            Création d'un univers graphique unique permettant de refléter au mieux votre identité et vos valeurs.
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .quality-card.white-bg.wow.flipInX
          = image_tag "services/layers.png", class: 'quality-icon icon-theme'
          %h5.title
            Interfaces intuitives
          %p.text
            Expérience utilisateur agréable et fluide à travers des fonctionnalités simples et intelligibles.
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .quality-card.white-bg.wow.flipInY
          = image_tag "services/responsive.png", class: 'quality-icon icon-theme'
          %h5.title
            Responsive design
          %p.text
            Navigation optimales grace à son design responsive qui ajuste automatiquement les dimensions de la page au support numérique utilisé.
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .quality-card.darker-bg.text-white.wow.flipInX
          = image_tag "services/evolution.png", class: 'quality-icon icon-white'
          %h5.title
            Développement évolutif
          %p.text.light
            L'architecture de développement est pensé de sorte à pouvoir ajouter, modifier ou désactiver des fonctionnalités.
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .quality-card.theme-light-bg.text-white.wow.flipInY
          = image_tag "services/support.png", class: 'quality-icon icon-white'
          %h5.title
            Produits maintenables
          %p.text.light
            Simplification de la maintenance et des mises à jours, rigueur dans le respect des normes de codage.
