%header
  %nav.navbar.navbar-expand-lg.navbar-dark#scrollspy
    .container
      %a.navbar-brand.hvr-sweep-to-right.brand-website{:href => "#home"}
        = image_tag 'mountain.png', class: 'navbar-logo icon-white'
        Matuvu
      %button.navbar-toggler{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %a.nav-link{:href => "#services", 'data-toggle' => "collapse", 'data-target' => ".navbar-collapse.show"} Services
          %li.nav-item
            %a.nav-link{:href => "#quality", 'data-toggle' => "collapse", 'data-target' => ".navbar-collapse.show"} Charte qualité
          %li.nav-item
            %a.nav-link{:href => "#contact", 'data-toggle' => "collapse", 'data-target' => ".navbar-collapse.show"} Contact


%section
  = render 'home'
  = render 'services'
  = render 'website'
  = render 'quality'
  = render 'layouts/contact'
