#wrapper
  / Page Content
  #page-content-wrapper
    %nav.navbar.navbar-expand-lg.navbar-light
      .container
        %a.navbar-brand.hvr-sweep-to-right{:href => "#"} AD
        %button.navbar-toggler{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            /
              <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
            %li.nav-item.active
              %a.nav-link{:href => "#"}
                Services


            %li.nav-item
              %a.nav-link{:href => "#"} Charte qualité

            %li.nav-item
              %a.nav-link{:href => "#"} Contact
    #home
      -# = image_tag 'it-services-03.png', class: 'home-img'
      .layer.layer-home

      .container
        .svg-container
          %svg{:height => "100%", :style => "fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;", :version => "1.1", :viewbox => "0 0 247 390", :width => "40px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path#wheel{:d => "M123.359,79.775l0,72.843", :style => "fill:none;stroke:#fff;stroke-width:20px;"}
            %path#mouse{:d => "M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z", :style => "fill:none;stroke:#fff;stroke-width:20px;"}


        .home-content

          %h2.title-header
            Création de sites
            & applications
            %span.theme-2-color web

          %br
          %span.btn.btn-theme.btn-circle.btn-lg.wow.bounceInDown Contactez-moi



    #services

      .container
        .row
          .col-lg-12
            %h5.title-sm.wow.fadeInDown Mes services
            %h3.title-lg Du sur mesure pour vos projets


        .row
          .col-lg-4
            .service-card.website-service.light-bg.text-white
              .background-service
                = image_tag "network.png", class: "service-icon icon-white"
                .service-content
                  %h5.service-item.wow.fadeInDown sites vitrine
                  %p Soyez visible sur le web grâce à un site vitrine sur mesure, mettant en avant vos produits, services et valeurs.
          .col-lg-4
            .service-card.app-service.lighter-grey-bg
              .background-service
                = image_tag "support.png", class: "service-icon icon-theme"
                .service-content
                  %h5.service-item.wow.fadeInDown applications web
                  %p Optimisez et automatisez vos tâches du quodidien à travers un développement spécifique à vos besoins.
          .col-lg-4
            .service-card.integration-service.white-bg
              .background-service
                = image_tag "layers.png", class: "service-icon icon-theme"
                .service-content
                  %h5.service-item.wow.fadeInDown intégration
                  %p Traduction de maquettes graphiques en code, assemblant tous les &#xE9;lements de la mise en page du site web de fa&#xE7;on optimale.

    #website
      .container
        .row
          .col-lg-4
            = image_tag 'mouse.png', class: 'website-img'
            -# .layer.layer-theme
          .col-lg-8

            .visible-card.darker-bg.text-white

              %h5.title-sm.light.wow.fadeInDown Soyez visible
              %h3.title-lg.light Un investissement sur le long terme

              %p
                Une vitrine disponible en tout temps et accessible de partout, c’est une porte de communication et de présentation pour vous, ce que vous faites et vos valeurs.

                90% des français effectuent une recherche sur votre entreprise avant d'acheter un service ou un produit, d'où l'importance d'être visible facilement, et avoir de nouveaux clients...
                %br
                Une vitrine disponible en tout temps et accessible de partout, c’est une porte de communication et de présentation pour vous, ce que vous faites et vos valeurs.
              %br
              %strong
                %span.btn.btn-theme.wow.fadeInDown Parlez moi de votre projet


    #quality
      .container
        .row
          .col-lg-12.text-center

            %h5.title-sm.wow.fadeInDown plus
            %h3.title-lg Ma charte qualité
            / <h1 class="title-lg rellax" data-rellax-speed="1">Charte qualité</h1>

        .row
          .col-lg-12
            .quality-background
              .row
                .col-lg-4
                  .quality-box.light-bg.text-white
                    = image_tag "detail.png", class: 'quality-icon icon-white'
                    %h5.title
                      Sens du détail

                    %p.text
                      Chaque détail compte : le choix des couleurs, le style des ic&#xF4;nes et des boutons, la typographie ainsi que les illustrations.
                .col-lg-4
                  .quality-box.lighter-grey-bg
                    = image_tag "uniq.png", class: 'quality-icon icon-theme'
                    %h5.title
                      Design unique


                    %p.text
                      Création d'un univers graphique unique permettant de refléter au mieux votre identité et vos valeurs.


                .col-lg-4
                  .quality-box.white-bg
                    = image_tag "layers.png", class: 'quality-icon icon-theme'
                    %h5.title
                      Interfaces intuitives


                    %p.text
                      Expérience utilisateur agréable et fluide à travers des fonctionnalités simples et intelligibles.

              .row
                .col-lg-4
                  .quality-box.white-bg

                    = image_tag "responsive.png", class: 'quality-icon icon-theme'
                    %h5.title
                      Responsive design

                    %p.text
                      Navigation optimales grace à son design responsive qui ajuste automatiquement les dimensions de la page au support numérique utilisé.

                .col-lg-4
                  .quality-box.darker-bg.text-white

                    = image_tag "evolution.png", class: 'quality-icon icon-white'
                    %h5.title
                      Développement évolutif


                    %p.text
                      L'architecture de développement est pensé de sorte à pouvoir ajouter, modifier ou désactiver des fonctionnalités.
                .col-lg-4
                  .quality-box.lighter-bg.text-white
                    = image_tag "maintenance.png", class: 'quality-icon icon-white'
                    %h5.title
                      Produits maintenables


                    %p.text
                      Simplification de la maintenance et des mises à jours, rigueur dans le respect des normes de codage.



      #contact
        .row
          .col-lg-6.image-contact
            .layer.layer-home




          .col-lg-6.contact-form.darker-bg.text-white
            %h5.title-sm.light.wow.fadeInDown Contact
            %h3.title-lg.light Discutons de votre projet !
            = form_for @message, remote: true, id: 'contact-form', url: messages_path do |f|
              .row
                .col-md-6
                  .form-group
                    .error
                    = f.text_field  :name, required: true, placeholder: "Nom", class: "form-control"
                .col-md-6
                  .form-group
                    = f.text_field  :firstname, required: true, placeholder: "Prénom", class: "form-control"
              .row
                .col-md-12

                  .form-group.text-white
                    = f.email_field :email, required: true,placeholder: "Email" ,class: "form-control"
                  .form-group
                    = f.text_area :body,  required: true, placeholder: 'Message', class: "form-control"

                  %button.submit.right.btn.btn-theme.wow.fadeInDown
                    %span.initial-content Envoyer
                    %span.sending-content.hide
                      = image_tag 'three-dots.svg', class: 'loading-svg'
                    %span.sent-content.hide Envoyé !


                    -# = f.submit 'Envoyer', class: 'submit btn btn-theme'
