#contact
  .row
    .col-lg-6.contact-buttons-container
      .image-contact
      .layer
      .contact-buttons.text-center.wow.fadeInLeft
        %a.btn.btn-theme{href: "https://www.linkedin.com/in/am%C3%A9lie-delory-9707b111b/", target: "_blank"}
          = image_tag 'contact/in.png', class: "icon-white icon-contact", title: 'Linked In'
        %a.btn.btn-theme{href: "https://soundcloud.com/key-brain-chemical", target: "_blank"}
          = image_tag 'contact/soundcloud.png', class: "icon-white icon-contact"
        %a.btn.btn-theme{href: "https://slides.com/amelie-d#_=_", target: "_blank"}
          = image_tag 'contact/shift.png', class: "icon-white icon-contact"
        %a.btn.btn-theme{href: "https://framagit.org/AmelieD", target: "_blank"}
          = image_tag 'contact/git.png', class: "icon-white icon-contact"



    .col-lg-6.darker-bg
      .contact-form
        .wow.fadeInLeft
          %h3.title-lg.light Contact
        = form_for @message, remote: true, id: 'contact-form', url: messages_path do |f|
          .row
            .col-md-6
              .form-group.wow.fadeInLeft
                .error
                = f.text_field  :name, required: true, placeholder: "Nom", class: "form-control"
            .col-md-6
              .form-group.wow.fadeInLeft
                = f.text_field  :firstname, required: true, placeholder: "Prénom", class: "form-control"
          .row
            .col-md-12
              .form-group.wow.fadeInLeft
                = f.email_field :email, required: true,placeholder: "Email" ,class: "form-control"
          .row
            .col-md-12
              .form-group.wow.fadeInLeft
                = f.text_area :body,  required: true, placeholder: 'Message', class: "form-control"
          .row
            .col-md-12
              %button.submit.btn.btn-theme.wow.fadeInLeft.initial-content
                %span Envoyer
              %button.btn.btn-theme.sent-content.hide.no_cursor
                %span Message envoyé, merci !
    .baniere.text-center
      .row
        .col-12.col-md-4.contact-item
          = image_tag 'contact/phone.png'
          %br
          %span.light 06 20 00 35 44
        .col-12.col-md-4.contact-item
          = image_tag 'contact/email.png'
          %br
          %span.light amelie.delory@hotmail.fr
        .col-12.col-md-4.contact-item
          = image_tag 'contact/location.png'
          %br
          %span.light Arras
